<table style =" width: 700px;">
  <tr>
    <td>
      <%  unless @group_name.blank? %>
      <h1><%=@group_name.name%></h1>
      <%end%>
    </td>
    <td>
      <%= link_to 'New detail', new_detail_path %>
    </td>
  </tr>
</table>

<br/>
<table>
  <tr>

    <th>Description</th>

  </tr>

  <% @details.each do |detail| %>
    <tr>
      <td><%= link_to detail.description , detail %></td>
    </tr>
  <% end %>
</table>
