<!DOCTYPE html>
<html>
<head>
  <title>HomeManagement</title>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
